.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid red;
    font-family: 'Poppins', sans-serif;
  }
  
  .employee-dashboard {
    
    width: 100%;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .employee-dashboard h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .employee-dashboard form {
    display: flex;
    flex-direction: column;
  }
  
  .employee-dashboard label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #007bff;
  }
  
  .employee-dashboard select,
  .employee-dashboard input[type="date"],
  .employee-dashboard textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #007bff;
    margin-bottom: 10px;
  }
  
  .employee-dashboard textarea {
    resize: vertical;
  }
  
  .employee-dashboard input[type="radio"] {
    margin-right: 5px;
  }
  
  .employee-dashboard button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .employee-dashboard button[type="submit"]:hover {
    background-color: #0056b3;
  }
  