@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
  }
 .someonename{
  position: absolute;
  top: 1em;
  right: 1em;
  color: #000000;
 }
  
  .welcome-heading {
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
    line-height: 2em;
    font-weight: 700;
    color: #000000;
    /* margin-bottom: 1em; */
  }

  .welcome-heading span {
    color: #006de1;
    font-weight: 500;
  }

  .dashboardbtn{
    margin-bottom: 2em;
  }

  .btndash1,.btndash2,.btndash3,.btndash4{
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin: 1em;
    border: none;
    color: white;
  }

  .btndash1{
    background-color: #00a732;
  }
  .btndash2{
    background-color: #eb9800;
  }
  .btndash3{
    background-color: #f02727;
  }
  .btndash4{
    background-color: #24aef3;
  }

  .progress{
    display: flex;
    width: 10em;
    height: 10em;
    /* position: relative; */
    flex-direction: column;
    justify-content: center;
    align-items: center; 
   object-fit: contain;
   /* margin-top: 3em; */
   /* border: 1px solid red; */
   /* z-index: -1  ; */

  }
 
  .CircularProgress{
    object-fit: contain;

  }

  .pleave{
    /* border: 1px solid #efefef; */
    margin:2em 0;
    z-index: 2;
  }

  
  .leave-form {
    width: 70%;
    height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: 400;
    margin: 5px 0;
    color: #0056b3;
    padding: 5px;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #044b96;
  }

  .login-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .login-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #1787ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .login-buttons button:last-child {
    margin-right: 0;
  }
  
  .login-buttons button:hover {
    background-color: #0056b3;
  }
  
  .submit-button{
    padding: 1em;
    border: none;
    background-color: #007bff;
    color: white;
  }
  
  .apply-leave-button{
    padding: 1em;
    border-radius: 10px;
    background-color: #ea8e8e;
    color: #000000;
    border: none;
    cursor: pointer;
    position: relative;
    /* margin-top: 6em; */
  }

  .apply-leave-button::after{
    background-color:#cfcfcf;
  }
  .apply-leave-button:hover{
    background-color: #9b6666;
  }